<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="row">
        <div class="form-group col-md-6">
            <label><strong>Hotel</strong></label>
            <input name="hotel" #hotel="ngModel" [(ngModel)]="service.formData.hotel" class="form-control" required>
            <div *ngIf="hotel.invalid && hotel.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Number</strong></label>
            <input name="number" #number="ngModel" [(ngModel)]="service.formData.number" type="number"
                class="form-control" required>
            <div *ngIf="number.invalid && number.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Hotel</strong></label>
            <input name="hotel" #hotel='ngModel' [(ngModel)]="service.formData.hotel" class="form-control" required>
            <div *ngIf="hotel.invalid && hotel.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Availability</strong></label>
            <select name="available" #available="ngModel" [(ngModel)]="service.formData.available" class="form-control"
                required>
                <option disabled>{{service.formData.available}}</option>
                <option *ngFor="let availa of availability" [ngValue]="availa">
                    {{availa}}</option>
                <div *ngIf="available.invalid && available.touched">
                    <p style="color:red">This field is required.</p>
                </div>
            </select>

        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>