<main>
    <div class="container-fluid">
        <h1 class="mt-4">Overview</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                        Booking numbers
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>
                        Trending Peaks
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Hotels Stats
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Hotel</th>
                                <th>Location</th>
                                <th>Number</th>
                                <th>Stars</th>
                                <th>Next available date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Hotel</th>
                                <th>Location</th>
                                <th>Number</th>
                                <th>Stars</th>
                                <th>Next available date</th>
                                <th>Price</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Hotel Papagayo</td>
                                <td>Guanacaste</td>
                                <td>22480358</td>
                                <td>5</td>
                                <td>2020/12/29</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>Hotel Lavas de Fuego</td>
                                <td>La Fortuna</td>
                                <td>22480366</td>
                                <td>5</td>
                                <td>2020/12/26</td>
                                <td>$400</td>
                            </tr>
                            <tr>
                                <td>Hotel Riu</td>
                                <td>Guanacaste</td>
                                <td>22460352</td>
                                <td>5</td>
                                <td>2020/12/21</td>
                                <td>$450</td>
                            </tr>
                            <tr>
                                <td>HRG Condos Los Sueños</td>
                                <td>Jaco</td>
                                <td>22680324</td>
                                <td>5</td>
                                <td>2020/12/29</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>Hotel La Mariposa</td>
                                <td>Manuel Antonio</td>
                                <td>22584732</td>
                                <td>4</td>
                                <td>2020/12/29</td>
                                <td>$300</td>
                            </tr>
                            <tr>
                                <td>The Oaks Tamarindo</td>
                                <td>Tamarindo</td>
                                <td>22483362</td>
                                <td>5</td>
                                <td>2020/12/30</td>
                                <td>$550</td>
                            </tr>
                            <tr>
                                <td>Lapa's Lodge</td>
                                <td>Puntarenas</td>
                                <td>22254798</td>
                                <td>4</td>
                                <td>2020/12/29</td>
                                <td>$400</td>
                            </tr>
                            <tr>
                                <td>Mint Santa Teresa</td>
                                <td>Santa Teresa</td>
                                <td>22354768</td>
                                <td>5</td>
                                <td>2020/12/31</td>
                                <td>$700</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>