<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/home/homeContent">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a>Cars</a>
        </li>
        <li class="breadcrumb-item active">Car Types</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Car Types Information
        </div>
        <div class="card-body">

            <div class="jumbtron">
                <div>
                    <app-car-types-list></app-car-types-list>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-edit"></i>
            Edit Car Types Information</div>

        <div class="card-body">

            <app-car-types></app-car-types>

        </div>
    </div>

</div>