<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Car Type</th>
                <th>Color</th>
                <th>Year</th>
                <th>Millage</th>
                <th>License Plate</th>
                <th>Price</th>
            </tr>
        </thead>
        <tr *ngFor="let item of service.list">
            <td (click)="populateForm(item)">{{ item.id }}</td>
            <td (click)="populateForm(item)">{{ item.brand }}</td>
            <td (click)="populateForm(item)">{{ item.model }}</td>
            <td (click)="populateForm(item)">{{ item.car_type }}</td>
            <td (click)="populateForm(item)">{{ item.color }}</td>
            <td (click)="populateForm(item)">{{ item.year }}</td>
            <td (click)="populateForm(item)">{{ item.millage }}</td>
            <td (click)="populateForm(item)">{{ item.license_plate }}</td>
            <td (click)="populateForm(item)">{{ item.price }}</td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.id)">&times;</button>
            </td>
        </tr>

    </table>
</div>