<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Hotel</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr *ngFor="let item of service.list">
            <td (click)="populateForm(item)">{{ item.id }}</td>
            <td (click)="populateForm(item)">{{ item.name }}</td>
            <td (click)="populateForm(item)">{{ item.hotel }}</td>
            <td (click)="populateForm(item)">{{ item.price }}</td>
            <td (click)="populateForm(item)">{{ item.capacity }}</td>
            <td (click)="populateForm(item)">{{ item.description }}</td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.id)">&times;</button>
            </td>
        </tr>

    </table>
</div>