<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">

    <div class="form-group">
        <label><strong>Name</strong></label>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
        <div *ngIf="name.invalid && name.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label><strong>Brand</strong></label>
        <input name="brand" #brand="ngModel" [(ngModel)]="service.formData.brand" class="form-control" required>
        <div *ngIf="brand.invalid && brand.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>