<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/home/homeContent">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a>Hotels</a>
        </li>
        <li class="breadcrumb-item active">Rooms</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Rooms Information
        </div>
        <div class="card-body">

            <div class="jumbtron">
                <div>
                    <app-rooms-list></app-rooms-list>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-edit"></i>
            Edit Rooms Information</div>

        <div class="card-body">

            <app-rooms></app-rooms>

        </div>
    </div>

</div>