<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="form-group">
        <label><strong>Name</strong></label>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
        <div *ngIf="name.invalid && name.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Drive</strong></label>
            <select name="drive" #drive="ngModel" [(ngModel)]="service.formData.drive" class="form-control" required>
                <option disabled>{{service.formData.drive}}</option>
                <option *ngFor="let driveOp of driveOptions" [ngValue]="driveOp">
                    {{driveOp}}</option>
                <div *ngIf="drive.invalid && drive.touched">
                    <p style="color:red">This field is required.</p>
                </div>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Category</strong></label>
            <select name="category" #category="ngModel" [(ngModel)]="service.formData.category" class="form-control"
                required>
                <option disabled>{{service.formData.category}}</option>
                <option *ngFor="let catOps of categoryOptions" [ngValue]="catOps">
                    {{catOps}}</option>
                <div *ngIf="category.invalid && category.touched">
                    <p style="color:red">This field is required.</p>
                </div>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Engine</strong></label>
            <select name="engine" #engine="ngModel" [(ngModel)]="service.formData.engine" class="form-control" required>
                <option disabled>{{service.formData.engine}}</option>
                <option *ngFor="let engineOp of engineOptions" [ngValue]="engineOp">
                    {{engineOp}}</option>
                <div *ngIf="engine.invalid && engine.touched">
                    <p style="color:red">This field is required.</p>
                </div>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Capacity</strong></label>
            <select name="capacity" #capacity="ngModel" [(ngModel)]="service.formData.capacity" class="form-control"
                required>
                <option disabled>{{service.formData.capacity}}</option>
                <option *ngFor="let capacityOps of capacityOptions" [ngValue]="capacityOps">
                    {{capacityOps}}</option>
                <div *ngIf="capacity.invalid && capacity.touched">
                    <p style="color:red">This field is required.</p>
                </div>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>