<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="form-group">
        <label><strong>Car</strong></label>


        <select name="car" #car="ngModel" [(ngModel)]="service.formData.car" class="form-control" required>
            <option disabled>{{service.formData.model}}</option>
            <option *ngFor="let car of cars.list" [ngValue]="car.id">
                {{car.license_plate}}</option>
        </select>
        <div *ngIf="car.invalid && car.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Start Date</strong></label>
            <input name="start" #start='ngModel' [(ngModel)]="service.formData.start" type="date" class="form-control"
                [min]="today" required>
            <div *ngIf="start.invalid && start.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label><strong>End Date</strong></label>
            <input name="end" #end='ngModel' [(ngModel)]="service.formData.end" type="date" min="" class="form-control"
                required>
            <div *ngIf="end.invalid && end.touched">
                <p style="color:red">This field is required and should be greather than the start date.</p>
            </div>
            <div *ngIf="end < start">
                <p style="color:red">End date should be greather than the start date.</p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>