<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th type="hidden">ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tr *ngFor="let item of service.list">
            <td type="hidden" (click)="populateForm(item)">{{ item.id }}</td>
            <td (click)="populateForm(item)">{{ item.name }}</td>
            <td (click)="populateForm(item)">{{ item.email }}</td>
            <td (click)="populateForm(item)">{{ item.address }}</td>
            <td (click)="populateForm(item)">{{ item.phone }}</td>
            <td (click)="populateForm(item)">{{ item.rating }}</td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="onDelete(item.id)">&times;</button>
            </td>
        </tr>

    </table>
</div>