<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="form-group">
        <label><strong>Name</strong></label>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
        <div *ngIf="name.invalid && name.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label><strong>Country</strong></label>
        <input name="origin_country" #origin_country="ngModel" [(ngModel)]="service.formData.origin_country"
            class="form-control" required>
        <div *ngIf="origin_country.invalid && origin_country.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>