<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/home/homeContent">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a>Reservations</a>
        </li>
        <li class="breadcrumb-item active">Reservation</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Reservations Information
        </div>
        <div class="card-body">

            <div class="jumbtron">
                <div>
                    <app-reservations-list></app-reservations-list>
                </div>
            </div>
        </div>
    </div>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-edit"></i>
            Edit Reservations Information</div>

        <div class="card-body">

            <app-reservations></app-reservations>

        </div>
    </div>

</div>