<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Hotel</strong></label>
            <input name="hotel_reservation" #hotel_reservation="ngModel"
                [(ngModel)]="service.formData.hotel_reservation" class="form-control" required>
            <div *ngIf="hotel_reservation.invalid && hotel_reservation.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Car</strong></label>
            <input name="car_reservation" #car_reservation="ngModel" [(ngModel)]="service.formData.car_reservation"
                class="form-control" required>
            <div *ngIf="car_reservation.invalid && car_reservation.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Total</strong></label>
            <input name="total" #total='ngModel' [(ngModel)]="service.formData.total" class="form-control" required>
            <div *ngIf="total.invalid && total.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Paid</strong></label>
            <input name="paid" #paid='ngModel' [(ngModel)]="service.formData.paid" class="form-control" required>
            <div *ngIf="paid.invalid && paid.touched">
                <p style="color:red">This field is required.</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>