<meta name="google-signin-client_id" content="417003354399-p707ua00f5gpl9raqq8c509872kc7dbr.apps.googleusercontent.com">
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
                        <fieldset>
                            <div class="form-label-group">
                                <input id="first_name" name="first_name" #first_name="ngModel"
                                    [(ngModel)]="service.formData.first_name" type="text" class="form-control"
                                    placeholder="first_name" required autofocus>
                                <label for="first_name">Name</label>
                                <div *ngIf="first_name.invalid && first_name.touched">
                                    <p style="color:red">First name required./p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="last_name" name="last_name" #last_name="ngModel"
                                    [(ngModel)]="service.formData.last_name" type="text" class="form-control"
                                    placeholder="last_name" required autofocus>
                                <label for="last_name">Last Name</label>
                                <div *ngIf="last_name.invalid && last_name.touched">
                                    <p style="color:red">Last name required./p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="second_last_name" name="second_last_name" #second_last_name="ngModel"
                                    type="text" [(ngModel)]="service.formData.second_last_name" class="form-control"
                                    placeholder="second_last_name" required autofocus>
                                <label for="second_last_name">Second Last Name</label>
                                <div *ngIf="second_last_name.invalid && second_last_name.touched">
                                    <p style="color:red">Second name required./p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="email" name="email" #email="ngModel" [(ngModel)]="service.formData.email"
                                    type="email" class="form-control" placeholder="Email address" required autofocus>
                                <label for="email">Email address</label>
                                <div *ngIf="email.invalid && email.touched">
                                    <p style="color:red">Email required. Format: user@domain.com</p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="birthday" name="birthday" #birthday="ngModel"
                                    [(ngModel)]="service.formData.birthday" type="date" class="form-control"
                                    placeholder="Birthday" required autofocus>
                                <label for="birthday">Birthday</label>
                                <div *ngIf="birthday.invalid && birthday.touched">
                                    <p style="color:red">Birthday required./p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="identification" name="identification" #identification="ngModel"
                                    [(ngModel)]="service.formData.identification" class="form-control"
                                    placeholder="Identification" pattern="[0-9]{4}-[0-9]{4}" required autofocus>
                                <label for="identification">Identification</label>
                                <div *ngIf="identification.invalid && identification.touched">
                                    <p style="color:red">Identification required. Format: 1234-5678</p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="phone" name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone"
                                    type="tel" pattern="[0-9]{4}-[0-9]{4}" class="form-control" placeholder="Phone"
                                    required autofocus>
                                <label for="phone">Phone</label>
                                <div *ngIf="phone.invalid && phone.touched">
                                    <p style="color:red">Phone number required. Format: 1234-5678</p>
                                </div>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <input id="username" name="username" #username="ngModel"
                                    [(ngModel)]="service.formData.username" type="text" class="form-control"
                                    placeholder="User Name" required>
                                <label for="username">User Name</label>
                                <div *ngIf="username.invalid && username.touched">
                                    <p style="color:red">Birthday required./p>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input id="password" name="password" #password="ngModel"
                                    [(ngModel)]="service.formData.password" type="password" class="form-control"
                                    placeholder="password" required>
                                <label for="password">Password</label>
                                <div *ngIf="password.invalid && password.touched">
                                    <p style="color:red">Birthday required./p>
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                [disabled]="form.invalid">Register</button>
                        </fieldset>
                        <a class="d-block text-center mt-2 small" routerLink="/login">Sign In</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>