<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="form-control">
    <div class="form-group">
        <label><strong>Name</strong></label>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
        <div *ngIf="name.invalid && name.touched">
            <p style="color:red">This field is required.</p>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label><strong>Hotel</strong></label>
            <select name="hotel" #hotel="ngModel" [(ngModel)]="service.formData.hotel" class="form-control" required>
                <option disabled>{{service.formData.hotel}}</option>
                <option *ngFor="let mainhotel of hotelService.list" [ngValue]="mainhotel.id">
                    {{mainhotel.name}}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label><strong>Price</strong></label>
            <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" type="number" class="form-control"
                required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label><strong>Capacity</strong></label>
            <input name="capacity" #capacity='ngModel' [(ngModel)]="service.formData.capacity" type="number"
                class="form-control" required>
        </div>
        <div class="form-group col-md-6">
            <label><strong>Description</strong></label>
            <input name="description" #description='ngModel' [(ngModel)]="service.formData.description"
                class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-lg btn-block">Create</button>
    </div>
</form>